# Web / API Core (FastAPI web server & DB)
fastapi>=0.124.4
uvicorn>=0.38.0
python-multipart>=0.0.20
pymongo>=4.7.0
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
email-validator>=2.1.0.post1

# Utilities
requests>=2.32.4
tqdm>=4.67.1
psutil>=7.0.0
gdown>=5.2.0
rich>=14.1.0
pyyaml>=6.0.2
joblib>=1.5.1
python-dotenv>=1.0.1